body {
    --background-color: grey;
    --color: red;

    .all{
        background: red;
    }
}

.main-menu {
    .current-menu-item,
    .current_page_item {
        @apply underline;
    }
}